.formGroup {
    display: flex;
    flex-direction: column;
    padding: 5px 10px 25px 10px;
    border: 1px solid;
}

.nameGroup {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.field {
    margin-top: 10px;
    padding: 5px;
    width: 170px;
}

.btn {
    margin-top: 30px;
    width: 100px;
}